.productList {
  max-height: 300px; /* Liste uzadıkça aşağı kaydırma çıkar */
  overflow-y: auto;
  padding-right: 10px;
}

/* Şık bir scrollbar tasarımı */
.productList::-webkit-scrollbar {
  width: 6px;
}
.productList::-webkit-scrollbar-track {
  background: #F0F1F3;
}
.productList::-webkit-scrollbar-thumb {
  background: #264061;
  border-radius: 10px;
}

.productList::-webkit-scrollbar-thumb:hover {
  background: #1a2c42; /* Üzerine gelince biraz koyulaşsın */
}

.emptyListMessage {
  text-align: center;
  color: #9B9FAA;
  padding: 20px 0;
  font-size: 14px;
}
