PORT=5000
MONGODB_USER=# Atlas kullanıcı adı
MONGODB_PASSWORD=# Atlas şifresi (takım liderinden alın)
MONGODB_URL=cluster0.audyhuc.mongodb.net
MONGODB_DB=slim-moms-db

JWT_SECRET=# Takım liderinden alın (herkeste aynı olmalı!)
JWT_EXPIRES_IN=7d
