.formContainer {
    width: 100%;
    height: 568px;
    margin: 0;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 40px 20px 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tab,
.activeTab {
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.tab {
    color: #9b9faa;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FC842D;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px;
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.label span {
    color: #9B9FAA;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
}

.input {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    outline: none;
    padding-bottom: 3px;
}

.labelText,
.input {
    transition:
        color 0.6s ease,
        border-color 0.6s ease;
}

/* Input alanına gelince */
.label:hover .labelText,
.label:focus-within .labelText {
    color: #FC842D;
}

.buttons {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
}


.primaryBtn {
    border: none;
    border-radius: 30px;
    background: #FC842D;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    width: 182px;
    height: 44px;
    margin: 0 auto;
}

.secondaryBtn {
    border-radius: 30px;
    border: 2px solid #FC842D;
    background: #FFFFFF;
    color: #fc842d;
    font-weight: 700;
    cursor: pointer;
    width: 182px;
    height: 44px;
    margin: 0 auto;
}

.primaryBtn,
.secondaryBtn {
    transition:
        background-color .7s ease,
        color .7s ease,
        border-color .7s ease,
        box-shadow .7s ease,
        transform 0.10s ease;
}

/* Turuncu buton */
.primaryBtn:hover {
    background-color: #e56f14; /* daha koyu turuncu */
    box-shadow: 0 6px 14px rgba(229, 111, 20, 0.45);
}

/* Beyaz buton */
.secondaryBtn:hover {
    background-color: #FC842D;
    color: #ffffff;
    border-color: #FC842D;
    box-shadow: 0 6px 14px rgba(252, 132, 45, 0.35);
}

/* Hafif basılma efekti */
.primaryBtn:hover,
.secondaryBtn:hover {
    transform: translateY(-1px);
}

@media screen and (min-width: 768px) {
    .formContainer {
        width: 240px;
        height: auto;
        border: none;
        padding: 0;
        background: transparent;
    }

    .title {
        text-align: left;
        margin-top: 0;
        margin-bottom: 60px;
    }

    .form {
        padding: 0;
    }

    .buttons {
        flex-direction: row;
        gap: 32px;
        margin-top: 60px;
        justify-content: flex-start;
    }

    .primaryBtn,
    .secondaryBtn {
        width: 182px;
        height: 44px;
        flex-shrink: 0;
    }
}



